@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: rgb(0, 0, 0);
  --background-start-rgb: rgb(214, 219, 220);
  --background-end-rgb: rgb(255, 255, 255);
  --main-color: rgb(9, 58, 255);
  --content-width: 700px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: rgb(255, 255, 255);
    --background-start-rgb: rgb(255, 255, 255);
    --background-end-rgb: rgb(255, 255, 255);
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, var(--background-end-rgb))
    var(--background-start-rgb);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.container {
  max-width: 1536px;
  margin-left: auto;
  margin-right: auto;
}

nav, main {
  max-width: var(--content-width);
  margin-left: auto;
  margin-right: auto;
  padding: 1rem 1rem 1rem 1rem;
}

/* 2xl */
@media (max-width: 1536px) {
  .container {
    max-width: 1280px;
  }
}

/* xl */
@media (max-width: 1280px) {
  .container {
    max-width: 1024px;
  }
}

/* lg */
@media (max-width: 1024px) {
  .container {
    max-width: 768px;
  }
}

/* md */
@media (max-width: 768px) {
  .container, nav, main {
    max-width: 640px;
  }
}

/* sm */
@media (max-width: 640px) {
  .container, nav, main {
    max-width: 475px;
  }
}

/* xs */
@media (max-width: 475px) {
  .container, nav, main {
    width: 100%;
  }
}

nav{
  width: inherit;
}

h1{
  font-size: larger;
  color: var(--main-color);
}